@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #230b34;
  box-shadow: 0 0 0px 1000px white inset;
  transition: white 5000s ease-in-out 0s;
  background: white;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.z-index-top {
  z-index: 999;
}

.z-index-loading {
  z-index: 9999;
}

.z-index {
  z-index: 500;
}

.box__shadow__nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.box__shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.dropdown {
  max-width: 400px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-primary {
  @apply transition duration-200 bg-red-500 hover:bg-red-600 focus:bg-red-700 focus:shadow-sm focus:ring-4 focus:ring-red-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block;
}
